{% extends 'base.html.twig' %}

{% block title %}О кафедре{% endblock %}

{% block body %}

    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'fa fa-graduation-cap',
        title: 'О кафедре'
    }) }}

    <section class="section novi-background section-98 section-sm-110">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-sm-10 col-md-5 col-xl-4 text-lg-left">
                    <!-- Member Block Type 5-->
                    <div class="member-block-type-5 inset-lg-right-30"><img class="img-fluid d-block mx-auto" src="{{ asset('images/users/user-john-doe-437x437.jpg') }}" width="437" height="437" alt="">
                        <div class="member-block-body text-center"><a class="btn btn-block btn-primary" href="#">Подробнее</a>
                            <div class="offset-top-24 offset-lg-top-20 text-center">
                                <div><span class="novi-icon icon icon-xxs text-middle mdi mdi-cellphone-android text-darker"></span>&ensp;<span class="text-middle"><a class="text-dark" href="tel:#">8 (3852) 29-08-15</a></span>
                                </div>
                                <div class="pt-1"><span class="novi-icon icon icon-xxs text-middle mdi mdi-email-open text-darker"></span>&ensp;<span class="text-middle"><a class="text-dark" href="mailto:#">korsan73@mail.ru</a></span>
                                </div>
                                <div class="pt-1"><span class="novi-icon icon icon-xxs text-middle mdi mdi-map-marker-circle"></span>&ensp;<span class="text-middle text-dark">Аудитория: 308a B</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 text-md-left col-md-7 col-xl-8 offset-top-24 offset-md-top-0">
                    <h3>КОРОСТЕЛЕВ СЕРГЕЙ АНАТОЛЬЕВИЧ</h3>
                    <div>
                        <h3 class="small text-darker">ЗАВЕДУЮЩИЙ КАФЕДРОЙ</h3>
                        <p class="small text-darker">доктор теxнических наук, доцент</p>
                    </div>
                    <hr class="text-subline offset-top-10 offset-md-top-30">
                    <div class="offset-top-24 offset-lg-top-0">
                        <p class="text-left">
                            I am a senior advisor for an independently owned financial planning company called Intense. We are an International Financial Planning company with offices in multiple jurisdictions over the world. Working with Intense gives me the ability to advise business owners all over the world via Internet or personally in the area of my location.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquam aperiam assumenda blanditiis debitis doloremque esse, ex id, itaque modi molestiae non odio praesentium quod soluta temporibus vitae? Amet dolorem nihil pariatur sunt velit. Eum ipsam provident sint! At commodi dignissimos dolorum eligendi quisquam sapiente voluptatem voluptatibus? Dolor, eaque non!
                           esse et laudantium quo rerum?
                        </p>
                    </div>
                    <div class="offset-top-24 offset-lg-top-24">
                        <p class="text-left">
                            I am a senior advisor for an independently owned financial planning company called Intense. We are an International Financial Planning company with offices in multiple jurisdictions over the world. Working with Intense gives me the ability to advise business owners all over the world via Internet or personally in the area of my location.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquam aperiam assumenda blanditiis debitis doloremque esse, ex id, itaque modi molestiae non odio praesentium quod soluta temporibus vitae? Amet dolorem nihil pariatur sunt velit. Eum ipsam provident sint! At commodi dignissimos dolorum eligendi quisquam sapiente voluptatem voluptatibus? Dolor, eaque non!
                            esse et laudantium quo rerum?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section reasons to get-->
    <section class="section novi-background section-66 section-top-50 bg-mantis section-triangle section-triangle-bottom context-dark">
        <div class="container">
            <div class="row justify-content-md-center">
                <h2><span class="big">Немного истории</span></h2>
                <div class="col-lg-12">
                    <p>Кафедра образована 01.07.2014 г. в результате объединения кафедр «Автомобили и тракторы» и «Сельскохозяйственное машиностроение».</p>
                </div>
            </div>
        </div>
        <svg class="svg-triangle-bottom" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <lineargradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:rgb(99,189,98);stop-opacity:1"></stop>
                    <stop offset="100%" style="stop-color:rgb(99,189,98);stop-opacity:1"></stop>
                </lineargradient>
            </defs>
            <polyline points="0,0 60,0 29,29" fill="url(#grad2)"></polyline>
        </svg>
    </section>
    <section class="section novi-background section-66 section-sm-0">
        <div class="container">
            <div class="row justify-content-sm-center justify-content-md-start">
                <div class="col-sm-10 col-md-6 section-image-aside section-image-aside-right text-left">
                    <div class="section-image-aside-img d-none d-md-block" style="background-image: url({{ asset('images/careers-01-960x540.jpg') }})"></div>
                    <div class="section-image-aside-body section-sm-66 inset-md-right-30">
                        <div>
                            <h3 class="text-picton-blue">01</h3>
                        </div>
                        <div class="offset-top-10">
                            <h2>Кафедра осуществляет подготовку по специальности 23.05.01 Наземные транспортно-технологические средства.</h2>
                        </div>
                        <div class="offset-top-20">
                            <p>По специализациям:

                                Автомобили и тракторы;
                                Технические средства агропромышленного комплекса.
                                Нормативный срок обучения — 5 лет (дневная форма обучения).

                                Квалификация  — специалист.</p>
                            <p>Характеристика специальности.
                                Выпускник обладает знаниями в области проектирования, производства, испытания, эксплуатации, ремонта и технического обслуживания автомобилей и тракторов, сельскохозяйственных машин и оборудования.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-sm-center justify-content-md-end offset-top-0">
                <div class="col-sm-10 col-md-6 section-image-aside section-image-aside-left text-left">
                    <div class="section-image-aside-img d-none d-md-block" style="background-image: url({{ asset('images/careers-02-960x540.jpg') }})"></div>
                    <div class="section-image-aside-body offset-top-41 offset-md-top-0 section-sm-66 inset-md-left-50">
                        <div>
                            <h3 class="text-picton-blue">02</h3>
                        </div>
                        <div class="offset-top-10">
                            <h2>Объектами профессиональной деятельности специалиста являются</h2>
                        </div>
                        <div class="offset-top-20">
                           <p>автомобили, тракторы, автомобильные и тракторные прицепы и полуприцепы,  технические средства агропромышленного комплекса, подъёмно-транспортные, строительные, дорожные средства и оборудование, нормативно-техническая документация, системы стандартизации, методы и средства испытаний и контроля качества изделий.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-sm-center justify-content-md-start offset-top-0">
                <div class="col-sm-10 col-md-6 section-image-aside section-image-aside-right text-left">
                    <div class="section-image-aside-img d-none d-md-block" style="background-image: url({{ asset('images/careers-03-960x540.jpg') }})"></div>
                    <div class="section-image-aside-body offset-top-41 offset-md-top-0 section-sm-66 inset-md-right-30">
                        <div>
                            <h3 class="text-picton-blue">03</h3>
                        </div>
                        <div class="offset-top-10">
                            <h2>Виды профессиональной деятельности:</h2>
                        </div>
                        <div class="offset-top-20">
                            <p>научно-исследовательская;
                                проектно-конструкторская;
                                производственно-технологическая;
                                организационно-управленческая.</p>
                            <p>Преподаватели кафедры имеют ученые степени кандидата технических наук и звания доцента. Сотрудники кафедры занимаются научно-исследовательской работой и регулярно принимают участие в научно-технических конференциях в ведущих ВУЗах России.
                                Кафедра располагает современными лабораториями.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-sm-center justify-content-md-end offset-top-0">
                <div class="col-sm-10 col-md-6 section-image-aside section-image-aside-left text-left">
                    <div class="section-image-aside-img d-none d-md-block" style="background-image: url({{ asset('images/careers-04-960x540.jpg') }})"></div>
                    <div class="section-image-aside-body offset-top-41 offset-md-top-0 section-sm-66 inset-md-left-50">
                        <div>
                            <h3 class="text-picton-blue">04</h3>
                        </div>
                        <div class="offset-top-10">
                            <h2>Место будущей работы:</h2>
                        </div>
                        <div class="offset-top-20">
                            <p>автомобильные и тракторные заводы, заводы сельскохозяйственного машиностроения, автотранспортные предприятия, станции технического обслуживания автомобилей и тракторов, авторемонтные заводы, дилерские центры, управления механизации дорожных и строительных компаний, пункты проведения инструментального контроля транспортных средств (техосмотр).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section career start here-->
    <section class="section novi-background section-66 section-top-50 bg-blue-gray section-triangle section-triangle-bottom context-dark" id="careers-start">
        <div class="container">
            <h2><span class="big">Возможности студентов</span></h2>
            <p>Студентны нашей кафедры имеют возможность проходить производственную практику</p>
        </div>
        <svg class="svg-triangle-bottom" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <lineargradient id="grad3" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:rgb(109,146,204);stop-opacity:1"></stop>
                    <stop offset="100%" style="stop-color:rgb(109,146,204);stop-opacity:1"></stop>
                </lineargradient>
            </defs>
            <polyline points="0,0 60,0 29,29" fill="url(#grad3)"></polyline>
        </svg>
    </section>

    <section class="section novi-background section-98 section-sm-110 section-sm-top-50">
        <div class="container">
            <div class="row justify-content-sm-center align-items-xl-center offset-top-20">
                <div class="col-md-10 col-lg-9 col-xl-12">
                    <div class="row">
                        {% for partner in partners %}
                            <div class="col-md-4 col-xl-2 mt-4"><a href="{{ partner.link }}"><img class="img-semi-transparent" src="{{ asset(partner.logoPath) }}" width="169" height="68" alt=""></a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
