{% extends 'base.html.twig' %}
{% block title %}
    Кафедра автомобилей и тракторов
{% endblock %}
{% block body %}
    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'mdi mdi-library-books',
        title: 'История'
    }) }}

    <section class="section novi-background section-98 section-sm-66">
        <div class="container">
            <h2>Кафедра автомобилей и тракторов</h2>
            <hr class="divider bg-mantis mb-4">
            <div class="row justify-content-sm-center mt-0">
                <div class="col text-left">
                    <div class="offset-top-0 offset-lg-top-0">
                        <p>Кафедра «Автомобили и тракторы»,  вошедшая в состав кафедры НТТС в 2014г. была одной из старейших кафедр университета, она была создана в апреле 1944 года через два года после начала учебных занятий во вновь созданном первым на Алтае техническом вузе, образованном на базе эвакуированного Запорожского машиностроительного института.</p>
                        <p>К осени 1942 года были укомплектованы все 5 курсов института и, в том числе, 4-й курс по «Автотракторной» специальности. На первые 3 курса были зачислены 77 студентов Московского автомеханического института МАМИ, которые составили ядро контингента автотракторного факультета.</p>
                        <img width="200" height="900" class="mr-3 img-fluid d-inline-block float-sm-left" src="{{ asset('images/barski.png') }}" alt="">
                        <p>Первым заведующим кафедрой был Игорь Борисович Барский — выпускник бронетанковой академии и аспирантуры МАМИ, впоследствии д.т.н., профессор, автор ряда монографий и учебников по расчету и конструированию тракторов; по существу — основоположник кафедры.</p>
                        <p>Это было тяжелое время. Шла война. Жизнь и учеба впроголодь в неотапливаемых помещениях, работа на сборке трактора из утиля, чтобы вспахать поле под картошку для студенческой столовой, заготовка дров. Каникул нет – работа на уборке урожая или в подсобном хозяйстве. И тем не менее, студенты активно участвуют в общественной жизни института: Ибрагимов А. и Майданский Я. — поочередно возглавляют комитет ВЛКСМ, Толчинский Н. – бессменный редактор институтских стенгазет, Троицкий Б. – организатор художественной самодеятельности, Владимиров А. – руководитель оркестра народных инструментов.</p>
                        <p class="float-none">Выпуск первого набора успешно прошел осенью 1944 года. Молодые специалисты уехали восстанавливать Харьковский тракторный завод, строить Липецкий и Владимирский тракторные заводы, а часть из них была направлена для работы на промышленные предприятия Алтайского края, причем потребность в инженерах-механиках в послевоенный период была настолько велика, что выпускники кафедры успешно работали не только на предприятиях автотракторного направления, но и на различных машиностроительных заводах. Вот имена первых выпускников «Автотракторной» специальности: М. Бандуровская, Ф. Белецкая, Н. Борисенко, Л. Гольберг, А. Дармодехия, И. Жоголев, А. Ибрагимов, В. Мацковский Ф. Полякова, Н. Скрипец, П. Склянникова, Н. Толчинский, Б. Троицкий.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



