{% extends 'base.html.twig' %}
{% block title %}
    Cпециальность СХМ
{% endblock %}
{% block body %}
    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'mdi mdi-library-books',
        title: 'История'
    }) }}

    <section class="section novi-background section-98 section-sm-66">
        <div class="container">
            <h2>Cпециальность СХМ</h2>
            <hr class="divider bg-mantis mb-4">
            <div class="row justify-content-sm-center mt-0">
                <div class="col text-left">
                    <div class="offset-top-0 offset-lg-top-0">
                        <p>Специальность «Сельскохозяйственные машины и оборудование» была открыта в сентябре 1947 г. в Алтайском машиностроительном институте (АМИ), история которого началась на Алтае с 1942 года на базе эвакуированного в Барнаул Запорожского машиностроительного института. Тогда был организован первый набор 25 человек по специальности «Сельскохозяйственные машины» (первоначальное название специальности). Одновременно АМИ был преобразован в институт сельскохозяйственного машиностроения (АИСХМ).</p>
                        <p>Открытие этой специальности на Алтае было вызвано тем, что Алтай, да и страна в целом, нуждался в инженерных кадрах конструкторов для отрасли сельскохозяйственного машиностроения. И сегодня эта специальность остается остродефицитной, т.к. всего два вуза в стране готовят инженеров-конструкторов по этому профилю: АлтГТУ и Донской государственный технический университет. Первые наборы студентов на специальность почти на половину состояли из фронтовиков. Именно они задавали тон в учебе, демонстрируя серьезное отношение к делу, огромную целеустремленность и трудолюбие. Неслучайно, что каждый из них стал в последствии незаурядным инженером, крупным специалистом отрасли.</p>
                        <p>С открытием специальности создана и кафедра СХМ, на которой первоначально работал только ее заведующий, а в 1948 г. штат пополнился еще тремя преподавателями. В настоящее время на кафедре работают 10 преподавателей и 5 сотрудников.</p>
                        <p>Первым заведующим кафедры был к.т.н., доцент Грищенко Федор Васильевич, многое сделавший для становления кафедры и организации учебного процесса. С 1953 г. по 1963 г. кафедрой заведовал к.т.н., доцент Спичкин Ливерий Максимович. С 1964 г. по 1973 г. кафедрой заведовал к.т.н., доцент Ким Роман Александрович, добрейшей души человек, кладезь изобретательских идей. С 1973 г. по 1979 г. кафедрой заведовал к.т.н., доцент Болгов Алексей Трофимович. В эти годы возглавляемая им научно-исследовательская лаборатория НИЛ-4 наряду с исследованиями трансмиссии трактора занялась исследованием динамической нагруженности рабочих органов сельхозмашин. С 1979г. по 2007 г. время кафедрой заведовал д.т.н., профессор, заслуженный деятель науки и техники РФ, член-корреспондент академии инженерных наук РФ Семенов Владимир Филимонович.</p>
                        <p>До 1965 года при открытии кафедры ей первоначально было выделено несколько помещений под преподавательскую и лаборатории в старом здании института по улице Интернациональной. В 1970 г. кафедра переселилась в новый корпус «В», а в лабораторном корпусе «А» получила два больших помещения. В одном из них был оборудован машинный зал с почвенным каналом, а в другом силами преподавателей и студентов отстроен второй этаж и образованы учебные, научные лаборатории, мастерская, аудитории для проведения лекционных и практических занятий. Это позволило в лучшей мере организовать учебный процесс и повысить в конечном счете качество обучения.</p>
                        <p>Во время учебы студенты не только получают знания, предусмотренные учебным планом, но и принимают активное участие в научно-исследовательской работе, занимаются спортом, участвуют в студенческих строительных отрядах, художественной самодеятельности. Хорошей школой для студентов специальности явились механизированные отряды, которые выезжали на работы в сельские районы края во время технологической практики. Эти отряды принимали участие в освоении целинных и залежных земель, уборке урожая сельскохозяйственных культур.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



