{% block title %}
Партнеры
{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'icon-md mdi mdi-wrench',
        title: 'Партнеры'
    }) }}

    <!-- Our Customers-->
    <section class="section novi-background section-98 section-sm-110 section-sm-top-50">
        <div class="container">
            <h1>Партнеры по производственной практике</h1>
            <hr class="divider bg-mantis">
            <div class="row justify-content-sm-center align-items-xl-center offset-top-66">
                <div class="col-md-10 col-lg-9 col-xl-12">
                    <div class="row">
                        {% for partner in partners %}
                            <div class="col-md-4 col-xl-2 mt-4"><a href="{{ partner.link }}"><img class="img-semi-transparent" src="{{ asset(partner.logoPath) }}" width="169" height="68" alt=""></a></div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



