{% extends 'base.html.twig' %}

{% block title %}Manage Account{% endblock %}

{% block body %}

    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'icon-lg mdi mdi-account-circle',
        title: 'Личный кабинет'
    }) }}

<section class="section novi-background section-98 section-sm-110 section-sm-bottom-20">
    <div class="container">
        <h1>{{ app.user.firstName }}</h1>
        <hr class="divider bg-mantis">
        <!-- About Me-->
        <section>
            <div class="row justify-content-sm-center offset-top-66">
                <div class="col-xl-5 text-xl-right"><img class="img-fluid d-block mx-auto" src="{{ app.user.photoPath }}" width="437" height="437" alt="">
                    <div class="row justify-content-sm-center offset-top-34">
                        <div class="col-md-8 col-lg-6 col-xl-12">
                            <div class="inset-sm-left-80 inset-sm-right-80"><a class="btn btn-lg btn-block btn-primary" href="{{ path('app_account_edit') }}">редактировать</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 text-left col-lg-9 offset-top-41 col-xl-5 offset-xl-top-0">
                    <div class="inset-md-left-30">
                        <p>Вы являетесь сотрудником кафедры НТТС вам доступно редактирование информации о себе.</p>
                        <p>Также вы можете добавить новость в новостную ленту или редактировать добавленную ранее</p>
                        <div class="text-left">
                            <p>Awards:</p>
                        </div>
                        <div class="offset-top-10">
                            <ul class="list list-unstyled text-left">
                                <li>2018 – MAGNUM 30 under 30, Winner</li>
                                <li>2016 – The Other Hundred, 1st Prize</li>
                                <li>2016 – American Photography 30, Selected Winner</li>
                                <li>2015 – Leica Oskar Barnack Award, Winner Newcomer</li>
                                <li>2014 – PDN Photo Annual - Student Work, Winner</li>
                                <li>2014 – AOP Student Awards, Finalist</li>
                            </ul>
                        </div>
                        <p>My work has appeared in printed and online magazines – National Geographic Magazine, The New York Times, GEO Germany, GEO France, Bloomberg Businessweek, Neu Zurcher Zeitung, Leica Fotografie International, Leica M Magazine, NEON, Marie Claire Italy, FOTO8, Reader’s Digest, National Geographic Traveler.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- Usefull Information for You-->
<section class="section novi-background section-98 section-sm-top-66 section-sm-bottom-124 bg-lightest">
    <div class="container">
        <h1>Ранее опубликованные вами новости</h1>
        <hr class="divider bg-mantis">
        <div class="row justify-content-sm-center offset-top-30">
            {% for news in authors_news %}
            <div class="col-sm-10 col-md-8 col-lg-4 mt-4">
                <!-- Post Boxed--><a class="d-block" href="{{ path('news_show', { slug: news.slug}) }}">
                    <div class="post post-boxed">
                        <!-- Post media-->
                        <header class="post-media"><img class="img-fluid" width="370" height="260" src="{{ asset(news.imagePath) }}" alt=""/></header>
                        <!-- Post content-->
                        <section class="post-content text-left">
                            <div class="post-tags group-xs">
                            </div>
                            <div class="post-body">
                                <!-- Post Title-->
                                <div class="post-title">
                                    <h3 title="{{ news.title }}">{{ news.title }}</h3>
                                </div>
                                <div class="post-meta small">
                                    <ul class="list-inline list-inline-sm p">
                                        <li class="list-inline-item font-italic text-middle">&nbsp;<span class="text-picton-blue">{{ news.author.firstName }}</span></li>
                                        <li class="list-inline-item"><span class="text-middle novi-icon icon-xxs mdi mdi-clock"></span>
                                            <time class="font-italic text-middle text-picton-blue" datetime="2019-01-01">{{ news.publishedAt ? news.publishedAt|ago : 'unpublished' }}</time>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div></a>
            </div>
            {% else %}
                <div class="text-primary">Вы пока не опубликовали ни одной новости. Хотите добавить?</div>
            {% endfor %}
        </div>
        <div class="row offset-top-66"><a class="btn btn-primary btn-block mx-auto" href="{{ path('admin_news_new') }}" style="max-width: 170px;">добавить +</a></div>
    </div>
</section>
{% endblock %}
