{% extends 'base.html.twig' %}

{% block content_body %}
    <section class="section novi-background one-page bg-shark-radio">
        <div class="one-page-header">
            <!--Navbar Brand-->
            <div class="rd-navbar-brand"><a href="{{ path('app_home') }}"><img class="rounded" style='margin-top: -5px;' width='138' height='31' src='{{ asset('images/logos/secondarylogo.jpg') }}' alt=''/></a></div>
        </div>
        <!-- Login-->
        <section>
            <div class="container">
                <div class="section-110 section-cover row justify-content-sm-center align-items-sm-center">
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <div class="card text-center section-34 section-sm-41 inset-left-20 inset-right-20 inset-md-left-20 inset-md-right-20 inset-xl-left-30 inset-xl-right-30 bg-default shadow-drop-md">
                            <div class="text-center">
                                <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default mdi mdi-account-multiple-outline"></span>
                                <div>
                                    <div class="offset-top-24 text-darker big font-weight-bold">Вход в личный кабинет</div>
                                    <p class="text-extra-small text-dark offset-top-4">Введите свои учетные данные ниже</p>
                                    <p class="text-extra-small text-primary ">Вход доступен только для сотрудников кафедры!</p>
                                </div>
                            </div>
                            <!-- RD Mailform-->
                            <form class="text-left offset-top-30" data-form-output="form-output-global" data-form-type="contact" method="post">
                                {% if error %}
                                    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <div class="form-group offset-top-10">
                                    <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-addon-inverse"><span class="novi-icon mdi mdi-email-outline"></span></span></span>
                                        <input value="{{ last_username }}" class="form-control" id="login-email" placeholder="E-Mail" type="email" name="email" data-constraints="@Required @Email">
                                    </div>
                                </div>
                                <div class="form-group offset-top-20">
                                    <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon input-group-addon-inverse"><span class="novi-icon mdi mdi-lock-open-outline"></span></span></span>
                                        <input class="form-control" id="login-your-password" placeholder="Пароль" type="password" name="password" data-constraints="@Required">
                                    </div>
                                </div>
                                <input type="hidden", name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}">
                                <div class="form-group offset-top-24">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck1" name="_remember_me" value="true" type="checkbox">
                                        <label class="custom-control-label" for="customCheck1"><span class=" text-extra-small text-picton-blue">Запомнить меня!</span></label>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-icon btn-block btn-primary offset-top-20" type="submit">Войти <span class="icon novi-icon mdi mdi-arrow-right-bold-circle-outline"></span></button>
                            </form>
                            <div class="offset-top-30 text-md-left text-dark text-extra-small"><a class="text-picton-blue" href="#">Забыли пароль?</a>
                                <div class="offset-top-0">У вас нет аккаунта?&ensp;<a class="text-picton-blue" href="{{ path('app_register') }}">Зарегестрироваться</a>.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="one-page-footer">
            <p class="small" style="color: rgba(255,255,255, 0.3)">&copy; <span class="copyright-year"></span> НТТС</p>
        </div>
    </section>
{% endblock content_body%}

{% block title %}
Вход
{% endblock %}

