{% extends 'base.html.twig' %}

{% form_theme registrationForm _self %}

{% block title %}
Регистрация
{% endblock %}

{%- block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{% block content_body %}
        <section class="section novi-background one-page bg-shark-radio">
            <div class="one-page-header">
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a href="{{ path('app_home') }}"><img class="rounded" style='margin-top: -5px;' width='138' height='31' src='{{ asset('images/logos/secondarylogo.jpg') }}' alt=''/></a></div>
            </div>
            <!-- Register-->
            <section>
                <div class="container">
                    <div class="section-110 section-cover row justify-content-sm-center align-items-sm-center">
                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <div class="card section-34 section-sm-41 inset-left-20 inset-right-20 inset-md-left-20 inset-md-right-20 inset-xl-left-30 inset-xl-right-30 bg-default shadow-drop-md">
                                <div class="text-center">
                                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default mdi mdi-account-multiple-outline"></span>
                                    <div>
                                        <div class="offset-top-24 text-darker big font-weight-bold">Создать аккаунт</div>
                                        <p class="text-extra-small text-dark offset-top-4">Все поля обязательны для заполнения</p>
                                    </div>
                                </div>
                                <!-- RD Mailform-->
                                   {{ form_start(registrationForm, {
                                       'attr': {
                                           'class': 'text-left offset-top-30',
                                           'data-form-output': 'form-output-global',
                                           'data-form-type': 'contact'
                                       }
                                   }) }}

                                <div class="form-group">
                                    {{ form_errors(registrationForm.firstName) }}
                                    <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-addon-inverse"><span class="novi-icon mdi mdi-account-outline"></span></span></span>
                                        {{ form_widget(registrationForm.firstName, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': 'Имя пользователя',
                                                'data-constraints': '@Required'
                                            }
                                        }) }}
                                    </div>
                                </div>
                                <div class="form-group offset-top-20">
                                    {{ form_errors(registrationForm.email) }}
                                    <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-addon-inverse"><span class="novi-icon mdi mdi-email-outline"></span></span></span>
                                        {{ form_widget(registrationForm.email, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': 'E-Mail',
                                                'data-constraints': '@Required @Email'
                                            }
                                        }) }}
                                    </div>
                                </div>
                                <div class="form-group offset-top-20">
                                    {{ form_errors(registrationForm.plainPassword.first) }}
                                    <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-addon-inverse"><span class="novi-icon mdi mdi-lock-open-outline"></span></span></span>
                                        {{ form_widget(registrationForm.plainPassword.first, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': 'Пароль',
                                                'data-constraints': '@Required'
                                            }
                                        }) }}
                                    </div>
                                </div>
                                <div class="form-group offset-top-20">
                                    {{ form_errors(registrationForm.plainPassword.second) }}
                                    <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-addon-inverse"><span class="novi-icon mdi mdi-lock-outline"></span></span></span>
                                        {{ form_widget(registrationForm.plainPassword.second, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': 'Повторить пароль',
                                                'data-constraints': '@Required'
                                            }
                                        }) }}
                                    </div>
                                </div>
                                <div class="form-group offset-top-24">
                                    {{ form_errors(registrationForm.agreeTerms) }}
                                    <div class="custom-control custom-checkbox">
                                        {{ form_widget(registrationForm.agreeTerms, {
                                            'attr': {
                                                'class': 'custom-control-input',
                                            }
                                        }) }}
                                        <label class="custom-control-label" for="user_registration_form_agreeTerms"><span class="text-dark text-extra-small">Я согласен с <a class="text-picton-blue" href="#">Условиями использования</a>.</span></label>
                                    </div>
                                </div>
                                <button class="btn btn-xs btn-icon btn-block btn-primary offset-top-20" type="submit">Создать <span class="novi-icon icon mdi mdi-arrow-right-bold-circle-outline"></span></button>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="one-page-footer">
                <p class="small" style="color: rgba(255,255,255, 0.3)"> &copy; <span class="copyright-year"></span> НТТС</p>
            </div>
        </section>

{% endblock content_body%}

