{% extends 'base.html.twig' %}

{% block title %}
    «Наземные транспортно-технологические системы»
{% endblock  %}

{% block body %}

    <!-- Classic Breadcrumbs-->
    <section class="section novi-background breadcrumb-classic">
        <div id="particles-container"></div>
        <div class="container section section-sm-20">
            <div class="row align-items-xl-center">
                <div class="col-xl-5 d-none d-xl-block text-xl-left">
                    <h2><span class="big">Новости</span></h2>
                </div>
                <div class="col-xl-2 d-none d-md-block"><img class="rounded" width='90' height='auto' src='{{ asset('images/logos/mainlogo.png') }}' alt='Кафедра нттс'/></div>
                <div class="offset-top-0 offset-md-top-10 col-xl-5 offset-xl-top-0 small text-xl-right">
                    <ul class="list-inline list-inline-dashed p">
                        <li class="list-inline-item">Главная</li>
                        <li class="list-inline-item">Новости
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <svg class="svg-triangle-bottom" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <lineargradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:rgb(110,192,161);stop-opacity:1"></stop>
                    <stop offset="100%" style="stop-color:rgb(111,193,156);stop-opacity:1"></stop>
                </lineargradient>
            </defs>
            <polyline points="0,0 60,0 29,29" fill="url(#grad1)"></polyline>
        </svg>
    </section>

    <section class="section novi-background section-bottom-66 section-sm-bottom-110 section-top-34 section-md-top-66" style="background-color: rgb(255, 255, 255);">
        <div class="container">

            <div class="row">

                {% for news in pagination%}
                <div class="col-md-6 col-lg-4"><img class="img-fluid d-inline-block" src="{{ asset(news.imagePath) }}" width="370" height="230" alt="">
                    <div class="text-md-left offset-top-24">
                        <div>
                            <h5 class="font-weight-bold text-primary"><a href="{{ path('news_show', { slug: news.slug}) }}">{{ news.title }}</a></h5></div>
                        <h6 class="offset-top-10">{{ news.publishedAt ? news.publishedAt|date('Y-m-d') }}</h6>
                        <ul class="list-inline list-inline-dashed text-dark">
                            {% for tag in news.tags %}
                                <li class="list-inline-item">{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                        <div>
                            <p class="text-lg-left">{{ news.content|truncate(200)|markdown }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="text-left">
                <a href="{{ path('news_list') }}">
                <button class="btn btn-primary" type="button">Все новости
                    <span class="badge badge-light">{{ pagination.totalItemCount }}</span>
                    <span class="sr-only">unread messages</span>
                </button>
                </a>

            <div class="offset-top-20 offset-md-top-34 pagination justify-content-center">
                <!— Bootstrap Pagination-->
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </section>



{% endblock body %}

