{{ form_start(contactForm, {
    'attr': {
        'class': ' offset-top-34 offset-lg-top-0 text-left',
        'data-form-output': 'form-output-global',
        'data-form-type': 'contact'
    }
}) }}

    <div class="form-group">
        {{ form_label(contactForm.name, null, {
            'label': 'Имя:',
            'label_attr': {'class': 'form-label form-label-sm rd-input-label'}
        }) }}
        {{ form_widget(contactForm.name,{
            'attr': {
                'class': 'form-control input-sm form-control-impressed',
                'data-constraints': '@Required'
            }
        }) }}
    </div>

    <div class="form-group offset-top-20">
        {{ form_label(contactForm.email, null, {
            'label': 'E-mail:',
            'label_attr': {'class': 'form-label form-label-sm rd-input-label'}
        }) }}
        {{ form_widget(contactForm.email,{
            'attr': {
                'class': 'form-control input-sm form-control-impressed',
                'data-constraints': '@Required @Email'
            }
        }) }}
    </div>

    <div class="form-group offset-top-20">
        {{ form_label(contactForm.message, null, {
            'label': 'Сообщение:',
            'label_attr': {'class': 'form-label form-label-sm rd-input-label'}
        }) }}
        {{ form_widget(contactForm.message,{
            'attr': {
                'class': 'form-control input-sm form-control-impressed',
                'data-constraints': '@Required',
                'style': 'height: 80px'
            }
        }) }}
    </div>
    <div class="group offset-top-20">
        <button class="btn btn-sm btn-primary" type="submit" style="padding-left: 30px; padding-right: 30px;">отправить</button>
    </div>

{{ form_end(contactForm) }}