<!-- Classic Breadcrumbs-->
<section class="section novi-background breadcrumb-classic">
    <div id="particles-container"></div>
    <div class="container section-34 section-sm-50">
        <div class="row align-items-xl-center">
            <div class="col-xl-5 d-none d-xl-block text-xl-left">
                <h2><span class="big">{{ title }}</span></h2>
            </div>
            <div class="col-xl-2 d-none d-md-block"><span class="icon icon-white {{ icon }}"></span></div>
            <div class="offset-top-0 offset-md-top-10 col-xl-5 offset-xl-top-0 small text-xl-right">
                <ul class="list-inline list-inline-dashed p">
                    <li class="list-inline-item"><a href="{{ path('app_home') }}">Главная</a></li>
                    <li class="list-inline-item">{{ title }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <svg class="svg-triangle-bottom" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <lineargradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:rgb(110,192,161);stop-opacity:1"></stop>
                <stop offset="100%" style="stop-color:rgb(111,193,156);stop-opacity:1"></stop>
            </lineargradient>
        </defs>
        <polyline points="0,0 60,0 29,29" fill="url(#grad1)"></polyline>
    </svg>
</section>