{{ form_start(userForm, {
    'attr': {
        'class': 'text-left',
        'data-form-output': 'form-output-global',
        'data-form-type': 'contact'
    }
}) }}
<div class="row">

    <div class="col-xl-6">
        <div class="form-group">
            {{ form_errors(userForm.firstName) }}
            {{ form_widget(userForm.firstName, {
                'attr': {
                    'class': 'form-control',
                    'data-constraints':'@Required',
                    'placeholder': 'ФИО'
                }
            }) }}
        </div>
    </div>

    <div class="col-xl-6">
        <div class="form-group">
            {{ form_errors(userForm.email) }}
            {{ form_widget(userForm.email, {
                'attr': {
                    'placeholder': 'Email',
                    'data-constraints':'@Required @Email',
                    'class': 'form-control',
                }
            }) }}
        </div>
    </div>

    <div class="col-xl-6">
        <div class="form-group offset-top-20">
            {{ form_errors(userForm.position) }}
            {{ form_widget(userForm.position, {
                'attr': {
                    'class': 'form-control',
                    'data-constraints':'@Required',
                    'placeholder': 'Кабинет в вузе',
                }
            }) }}
        </div>
    </div>

    <div class="col-xl-6 offset-top-20">
        <div class="form-group">
            {{ form_errors(userForm.phoneNumber) }}
            {{ form_widget(userForm.phoneNumber, {
                'attr': {
                    'placeholder': 'Телефон',
                    'class': 'form-control',
                }
            }) }}
        </div>
    </div>

    <div class="col-xl-12 offset-top-20">
        <div class="form-group">
            {{ form_errors(userForm.description) }}
            {{ form_widget(userForm.description, {
                'attr': {
                    'class': 'form-control',
                    'data-constraints':'@Required',
                    'placeholder': 'О себе',
                }
            }) }}
        </div>
    </div>

    {% if userForm.post is defined %}
        <div class="col-xl-6 offset-top-20">
            <div class="form-group">
                {{ form_errors(userForm.post) }}
                {{ form_widget(userForm.post, {
                    'attr': {
                        'class': 'form-control',
                        'data-constraints':'@Required',
                        'placeholder': 'Должность',
                    }
                }) }}
            </div>
        </div>

        <div class="col-xl-6 offset-top-20">
            <div class="form-group">
                {{ form_errors(userForm.academicDegree) }}
                {{ form_widget(userForm.academicDegree, {
                    'attr': {
                        'class': 'form-control',
                        'data-constraints':'@Required',
                        'placeholder': 'Ученая степень',
                    }
                }) }}
            </div>
        </div>

        <div class="col-xl-12 offset-top-20">
            <div class="form-group">
                {{ form_errors(userForm.photo) }}
                {{ form_widget(userForm.photo, {
                    'attr': {
                        'class': 'form-control',
                        'data-constraints':'@Required',
                        'placeholder': 'Фото',
                    }
                }) }}
            </div>
        </div>

        <div class="col-xl-12 offset-top-20">
            <div class="form-group">
                {{ form_label(userForm.roles, 'Роли на сайте:') }}
                {{ form_errors(userForm.roles) }}
                {{ form_widget(userForm.roles, {
                    'attr': {
                        'class': 'form-control',
                        'data-constraints':'@Required',
                    }
                }) }}
            </div>
        </div>

    {% endif %}

</div>
<div class="group-sm text-center text-xl-left offset-top-30">
    <button class="btn btn-primary" type="submit" {{ formvalidate }}>Подтвердить</button>
    <button class="btn btn-default" type="reset">Отмена</button>
</div>
{{ form_end(userForm) }}