{% extends 'base.html.twig' %}

{% block title %}
Список Пользователей
{% endblock %}

{% block body %}
    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'fa fa-users',
        title: 'Список всех пользователей'
    }) }}


    <!-- Classic Responsive Table-->
    <section class="section novi-background section-66 section-sm-top-20">
        <div class="container">
            <div class="row offset-md-top-66">
                <div class=" col-xl">
                    <!-- Classic Responsive Table-->
                    <table class="table table-custom table-bordered" data-responsive="true">
                        <tr>
                            <th>Имя</th>
                            <th>Должность</th>
                            <th>Email</th>
                            <th class="text-center">Edit</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td><a class="text-primary" href="{{ path('app_member_show', {email: user.email}) }}">{{ user.firstName }}</a></td>
                                <td>{{ user.academicDegree }}</td>
                                <td>{{ user.email }}</td>
                                <td class="text-xs-center">
                                    <a href="{{ path('admin_user_edit', {email: user.email}) }}"><i class="btn btn-info fa fa-pencil"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


