{% extends 'base.html.twig' %}

{% block title %}
    Кураторы
{% endblock %}


{% block body %}
    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'icon-lg mdi mdi-account-multiple-outline',
        title: 'Кураторы'
    }) }}

    <!-- Classic Responsive Table-->
    <section class="section novi-background section-4неизвестно section-md-bottom-85 section-sm-top-66">
        <div class="container">
            <h4>Связаться с кураторами можно по телефону <span class="text-primary">290−815</span></h4>
            <div class="row offset-md-top-24">
                <div class="offset-xl-3 col-xl-6 ">
                    <!-- Classic Responsive Table-->
                    <div class="table-responsive-sm">
                        <table class="table table-custom table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>Курс</th>
                                <th>Группа</th>
                                <th>Куратор</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


