{% extends 'base.html.twig' %}

{% block title %}Сотрудники{% endblock %}

{% block body %}
    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'icon-lg mdi mdi-account-box-outline',
        title: 'Сотрудники'
    }) }}

    <!-- Our Team-->
    <section class="section novi-background section-41 section-sm-20 mb-md-5">
        <div class="container">
            <div class="row justify-content-sm-center text-center text-lg-left offset-top-30">
                {% for user in staff %}
                <div class="col-md-5 col-lg-3 offset-top-50"><img class="img-fluid d-inline-block" src="{{ asset(user.getPhotoPath) }}" width="270" height="270" alt="">
                    <div class="text-lg-left offset-top-20">
                        <div>
                            <h5 class="font-weight-bold text-primary"><a href="{{ path('app_member_show', {email: user.email}) }}">{{ user.firstName }}</a></h5>
                        </div>
                    </div>
                    <address class="contact-info text-lg-left">
                        <ul class="list-unstyled p">
                            <li><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span> <a class="d-inline-block text-middle" href="tel:1-800-7650-986">{{ user.phoneNumber }}</a>
                            </li>
                            <li><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="d-inline-block text-middle" href="mailto:{{ user.email }}">{{ user.email }}</a>
                            </li>
                            <li><span class="icon novi-icon icon-xxs mdi mdi-map-marker-circle text-middle"></span><span class="d-inline-block text-middle">{{ user.position }}</span>
                            </li>
                        </ul>
                    </address>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
