{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'icon-lg mdi mdi-account-box',
        title: 'Сотрудник'
    }) }}

    <!-- Section John Doe-->
    <section class="section novi-background section-98 section-sm-110 section-sm-bottom-34">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-sm-10 col-md-5 col-xl-4 text-lg-left">
                    <!-- Member Block Type 5-->
                    <div class="member-block-type-5 inset-lg-right-30"><img class="img-fluid d-block mx-auto" src="{{ asset(user.photoPath)}}" width="437" height="437" alt="">
                        <div class="member-block-body text-center"><a class="btn btn-block btn-primary" href="contact-me.html">Free consultation</a>
                            <div class="offset-top-24 offset-lg-top-20 text-center">
                                <div><span class="novi-icon icon icon-xxs text-middle mdi mdi-cellphone-android text-darker"></span>&ensp;<span class="text-middle"><a class="text-dark" href="tel:{{ user.phoneNumber }}">{{ user.phoneNumber }}</a></span>
                                </div>
                                <div class="pt-1"><span class="novi-icon icon icon-xxs text-middle mdi mdi-email-open text-darker"></span>&ensp;<span class="text-middle"><a class="text-dark" href="mailto:{{ user.email }}">{{ user.email }}</a></span>
                                </div>
                                <div class="pt-1"><span class="novi-icon icon icon-xxs text-middle mdi mdi-map-marker-circle"></span>&ensp;<span class="text-middle text-dark">{{ user.position }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-md-left col-md-7 col-xl-8 offset-top-24 offset-md-top-0">
                    <h3>{{ user.firstName }}</h3>
                    <div>
                        <h3 class="small text-darker">{{ user.post }}</h3>
                        <p class="small text-darker">{{ user.academicDegree }}</p>
                    </div>
                    <hr class="text-subline offset-top-10 offset-md-top-30">
                    <div class="offset-top-24 offset-lg-top-50 text-left">
                        {{ user.description }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Timeline-->
    <section class="section novi-background section-98 section-sm-41 bg-lightest">
        <div class="container text-md-left">
            <h3 class="text-picton-blue text-center">Основные научные труды</h3>
            <hr class="hr bg-gray">
            <div class="row justify-content-sm-center text-left">
                <div class="col offset-top-14 offset-md-top-0">
                    <p><span class="font-weight-bold text-primary">1.&nbsp;&nbsp;</span>John is a #1 New York Times bestselling author. With more than 1 million copies collectively in print, his seven books on personal finance have been translated into several languages and educated countless people worldwide. The Truth About Money was recognized with an Excellence in Financial Literacy Education (EIFLE) Book of the Year Award from the Institute for Financial Literacy (March 2007), a Gold Medal Axiom Award (March 2008), an Apex Award (June 2007), and was named Book of the Year by Small Press magazine (1997). The Lies About Money was awarded the Axiom Personal Finance Book of the Year (March 2008) and an EIFLE Award (Jan. 2009). John's eighth book, The Truth About Retirement Plans and IRAs, a #1 national best-seller, was published in April 2009.</p>
                </div>
            </div>
            <div class="row justify-content-sm-center text-left">
                <div class="col offset-top-14 offset-md-top-0">
                    <p><span class="font-weight-bold text-primary">1.&nbsp;&nbsp;</span>John is a #1 New York Times bestselling author. With more than 1 million copies collectively in print, his seven books on personal finance have been translated into several languages and educated countless people worldwide. The Truth About Money was recognized with an Excellence in Financial Literacy Education (EIFLE) Book of the Year Award from the Institute for Financial Literacy (March 2007), a Gold Medal Axiom Award (March 2008), an Apex Award (June 2007), and was named Book of the Year by Small Press magazine (1997). The Lies About Money was awarded the Axiom Personal Finance Book of the Year (March 2008) and an EIFLE Award (Jan. 2009). John's eighth book, The Truth About Retirement Plans and IRAs, a #1 national best-seller, was published in April 2009.</p>
                </div>
            </div>
            <div class="row justify-content-sm-center text-left">
                <div class="col offset-top-14 offset-md-top-0">
                    <p><span class="font-weight-bold text-primary">1.&nbsp;&nbsp;</span>John is a #1 New York Times bestselling author. With more than 1 million copies collectively in print, his seven books on personal finance have been translated into several languages and educated countless people worldwide. The Truth About Money was recognized with an Excellence in Financial Literacy Education (EIFLE) Book of the Year Award from the Institute for Financial Literacy (March 2007), a Gold Medal Axiom Award (March 2008), an Apex Award (June 2007), and was named Book of the Year by Small Press magazine (1997). The Lies About Money was awarded the Axiom Personal Finance Book of the Year (March 2008) and an EIFLE Award (Jan. 2009). John's eighth book, The Truth About Retirement Plans and IRAs, a #1 national best-seller, was published in April 2009.</p>
                </div>
            </div>
            <div class="row justify-content-sm-center text-left">
                <div class="col offset-top-14 offset-md-top-0">
                    <p><span class="font-weight-bold text-primary">1.&nbsp;&nbsp;</span>John is a #1 New York Times bestselling author. With more than 1 million copies collectively in print, his seven books on personal finance have been translated into several languages and educated countless people worldwide. The Truth About Money was recognized with an Excellence in Financial Literacy Education (EIFLE) Book of the Year Award from the Institute for Financial Literacy (March 2007), a Gold Medal Axiom Award (March 2008), an Apex Award (June 2007), and was named Book of the Year by Small Press magazine (1997). The Lies About Money was awarded the Axiom Personal Finance Book of the Year (March 2008) and an EIFLE Award (Jan. 2009). John's eighth book, The Truth About Retirement Plans and IRAs, a #1 national best-seller, was published in April 2009.</p>
                </div>
            </div>
            <div class="row justify-content-sm-center text-left">
                <div class="col offset-top-14 offset-md-top-0">
                    <p><span class="font-weight-bold text-primary">1.&nbsp;&nbsp;</span>John is a #1 New York Times bestselling author. With more than 1 million copies collectively in print, his seven books on personal finance have been translated into several languages and educated countless people worldwide. The Truth About Money was recognized with an Excellence in Financial Literacy Education (EIFLE) Book of the Year Award from the Institute for Financial Literacy (March 2007), a Gold Medal Axiom Award (March 2008), an Apex Award (June 2007), and was named Book of the Year by Small Press magazine (1997). The Lies About Money was awarded the Axiom Personal Finance Book of the Year (March 2008) and an EIFLE Award (Jan. 2009). John's eighth book, The Truth About Retirement Plans and IRAs, a #1 national best-seller, was published in April 2009.</p>
                </div>
            </div>
            <div class="row justify-content-sm-center text-left">
                <div class="col offset-top-14 offset-md-top-0">
                    <p><span class="font-weight-bold text-primary">1.&nbsp;&nbsp;</span>John is a #1 New York Times bestselling author. With more than 1 million copies collectively in print, his seven books on personal finance have been translated into several languages and educated countless people worldwide. The Truth About Money was recognized with an Excellence in Financial Literacy Education (EIFLE) Book of the Year Award from the Institute for Financial Literacy (March 2007), a Gold Medal Axiom Award (March 2008), an Apex Award (June 2007), and was named Book of the Year by Small Press magazine (1997). The Lies About Money was awarded the Axiom Personal Finance Book of the Year (March 2008) and an EIFLE Award (Jan. 2009). John's eighth book, The Truth About Retirement Plans and IRAs, a #1 national best-seller, was published in April 2009.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}



