{% extends 'base.html.twig' %}
{% block title %}
    Научно-исследовательские и опытно-конструкторские работы
{% endblock %}
{% block body %}

    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'fa fa-connectdevelop',
        title: 'НИОКР'
    }) }}

    <section class="section novi-background section-98 section-bottom-41 section-sm-110">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-sm-10 col-md-5 col-xl-4 text-lg-left">
                    <!-- Member Block Type 5-->
                    <div class="member-block-type-5 inset-lg-right-30"><img class="img-fluid d-block mx-auto" src="{{ asset('images/users/user-john-doe-437x437.jpg') }}" width="437" height="437" alt="">
                        <div class="member-block-body text-center"><a class="btn btn-block btn-primary" href="#">Подробнее</a>
                            <div class="offset-top-24 offset-lg-top-20 text-center">
                                <div><span class="novi-icon icon icon-xxs text-middle mdi mdi-cellphone-android text-darker"></span>&ensp;<span class="text-middle"><a class="text-dark" href="tel:#">8 (3852) 29-09-42</a></span>
                                </div>
                                <div class="pt-1"><span class="novi-icon icon icon-xxs text-middle mdi mdi-email-open text-darker"></span>&ensp;<span class="text-middle"><a class="text-dark" href="mailto:#">skb-altstu@mail.ru</a></span>
                                </div>
                                <div class="pt-1"><span class="novi-icon icon icon-xxs text-middle mdi mdi-map-marker-circle"></span>&ensp;<span class="text-middle text-dark">Аудитория: 202 В</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 text-md-left col-md-7 col-xl-8 offset-top-24 offset-md-top-0">
                    <h3>Сороченко Сергей Федорович</h3>
                    <div>
                        <h3 class="small text-darker">ГЛАВНЫЙ СПЕЦИАЛИСТ</h3>
                        <p class="small text-darker">доктор теxнических наук, доцент</p>
                    </div>
                    <hr class="text-subline offset-top-10 offset-md-top-30">
                    <div class="offset-top-24 offset-lg-top-0">
                        <p class="text-left">
                            Студенческое конструкторское бюро (СКБ) является структурным подразделением инновационно-технологического центра (ИТЦ) научно-инновационного управления (НИУ) федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Алтайский государственный технический университет им. И.И. Ползунова» (АлтГТУ).

                            В своей деятельности СКБ руководствуется Уставом АлтГТУ, его актами и настоящим Положением.
                            Студенческое конструкторское бюро (СКБ) является структурным подразделением инновационно-технологического центра (ИТЦ) научно-инновационного управления (НИУ) федерального государственного бюджетного образовательного учреждения высшего профессионального образования «Алтайский государственный технический университет им. И.И. Ползунова» (АлтГТУ).

                            В своей деятельности СКБ руководствуется Уставом АлтГТУ, его актами и настоящим Положением.

                            Сотрудниками СКБ могут быть студенты, магистранты, аспиранты и сотрудники АлтГТУ, а также опытные специалисты сторонних организаций.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bottom-41 novi-background one-page">
            <div id="particles-container"></div>
            <div class="container">
                <h3 class="text-center">Подробная информация</h3>
                <hr class="divider divider-md bg-mantis">
                <div class="row justify-content-sm-center align-items-sm-center">
                    <div class="col-sm-6 text-left">
                        СКБ своей деятельностью способствует:
                        развитию у студентов, магистрантов и аспирантов научно-технического творчества и навыков в проектировании техники, на научной основе организовать свой труд, самостоятельно оценивать результаты своей деятельности, владеть навыками самостоятельной работы, в том числе в сфере проектирования и проведения научных исследований;
                        материально-технической поддержке молодёжных проектов;
                        закреплению творческого подхода студентов к будущей профессиональной деятельности;
                        приобретению навыков и умений студентов работы в коллективе над инновационными проектами, в управлении структурным подразделением организации, работе с персоналом.
                        СКБ осуществляет хоздоговорную деятельность в структуре ИТЦ НИУ университета на условиях хозрасчётного функционального подразделения.
                        СКБ осуществляет свою деятельность на площадях АлтГТУ, закреплённых за ним приказом ректора.
                    </div>
                    <div class="col-sm-6 text-left">
                        СКБ своей деятельностью способствует:
                        развитию у студентов, магистрантов и аспирантов научно-технического творчества и навыков в проектировании техники, на научной основе организовать свой труд, самостоятельно оценивать результаты своей деятельности, владеть навыками самостоятельной работы, в том числе в сфере проектирования и проведения научных исследований;
                        материально-технической поддержке молодёжных проектов;
                        закреплению творческого подхода студентов к будущей профессиональной деятельности;
                        приобретению навыков и умений студентов работы в коллективе над инновационными проектами, в управлении структурным подразделением организации, работе с персоналом.
                        СКБ осуществляет хоздоговорную деятельность в структуре ИТЦ НИУ университета на условиях хозрасчётного функционального подразделения.
                        СКБ осуществляет свою деятельность на площадях АлтГТУ, закреплённых за ним приказом ректора.
                    </div>
                    <div class="col-12">
                        СКБ участвует в научно-технических молодёжных программах, выставках, конкурсах, конференциях федерального, регионального и университетского уровня.

                        СКБ представляет в НИУ ежегодный отчёт о своей деятельности, имеет страницу на сайте университета.
                    </div>
                </div>
            </div>
    </section>
{% endblock %}



