{% extends 'base.html.twig' %}
{% block title %}
    Админка
{% endblock %}

{% block content_body %}
    <section class="section novi-background section-50">
        <div class="container">
            <h2>Админ-панель</h2>
            <p>Здесь отображены все доступные возможности</p>
            <hr class="divider divider-md bg-mantis">
            <div class="group offset-top-34">
                <a href="{{ path('admin_users_list') }}"><button class="btn btn-block btn-primary btn-icon btn-icon-right"><span class="icon novi-icon fa fa-users"></span>Список пользователей</button></a>
                <a href="{{ path('admin_news_list') }}"><button class="btn btn-block btn-primary btn-icon btn-icon-right"><span class="icon novi-icon fa fa-newspaper-o"></span>Список новостей</button></a>
                <a href="{{ path('admin_news_new') }}"><button class="btn btn-block btn-primary btn-icon btn-icon-right"><span class="icon novi-icon mdi mdi-open-in-new"></span>Создать новость</button></a>
            </div>
        </div>
    </section>
{% endblock %}