{{ form_start(newsForm, {
    'attr': {
        'class': 'text-left',
        'data-form-output': 'form-output-global',
        'data-form-type': 'contact'
    }
}) }}
    <div class="row">
        <div class="col-xl-6">
            <div class="form-group">
                {{ form_errors(newsForm.title) }}
                {{ form_widget(newsForm.title, {
                    'attr': {
                        'class': 'form-control',
                        'data-constraints':'@Required',
                        'placeholder': 'Заголовок'
                    }
                }) }}
            </div>
        </div>

        <div class="col-xl-6">
            <div class="form-group">
                {{ form_errors(newsForm.author) }}
                {{ form_widget(newsForm.author, {
                    'attr': {
                        'class': 'form-control js-autocomplete',
                        'data-constraints':'@Required',
                        'placeholder': 'Автор'
                    }
                }) }}
            </div>
        </div>

        <div class="col-xl-12 offset-top-20">
            <div class="form-group">
                {{ form_errors(newsForm.content) }}
                {{ form_widget(newsForm.content, {
                    'attr': {
                        'class': 'form-control',
                        'data-constraints':'@Required',
                        'placeholder': 'Содержание'
                    }
                }) }}
            </div>
        </div>
        <div class="col-xl-12 offset-top-20">
            <div class="form-group">
                {{ form_errors(newsForm.image) }}
                {{ form_widget(newsForm.image, {
                    'attr': {
                        'placeholder': 'Изображение',
                        'class': 'form-control',
                    }
                }) }}
            </div>
        </div>
        {% if newsForm.publishedAt is defined%}
        <div class="col-xl-12 offset-top-20">
            <div class="form-group">
                {{ form_label(newsForm.publishedAt, 'Дата публикации:') }}
                {{ form_widget(newsForm.publishedAt, {
                    'attr': {
                        'class': 'form-control',
                        'data-constraints':'@Required'
                    }
                }) }}
            </div>
        </div>
        {% endif %}
        {% if newsForm.tags is defined %}
            <div class="col-xl-12 offset-top-20">
                <div class="form-group">
                    {{ form_label(newsForm.tags, 'Теги:') }}
                    {{ form_widget(newsForm.tags, {
                        'attr': {
                            'class': 'form-control',
                            'data-constraints':'@Required',
                        }
                    }) }}
                </div>
            </div>
        {% endif %}
    </div>
<div class="group-sm text-center text-xl-left offset-top-30">
    <button class="btn btn-primary" type="submit">{{ button_text }}</button>
    <button class="btn btn-default" type="reset">Отмена</button>
</div>
{{ form_end(newsForm) }}


