{% extends 'base.html.twig' %}

{% block title %}Редактировать{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/algolia-autocomplete.js') }}"></script>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}

{% block body %}

    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'fa fa-pencil-square',
        title: 'Редактировать новость'
    }) }}

    <!-- Manage news-->
    <section class="section section-98 section-md-66 text-xl-left">
        <div class="container">
            <div class="row justify-content-sm-center justify-content-sm-center">
                <div class="col-xl-4">
                    <h3 class="text-uppercase">Подсказка</h3>
                    <hr class="divider hr-xl-left-0 bg-mantis">
                    <p>If you have any questions, just fill in the contact form, and we will answer you shortly. If you are living nearby, come visit Intense in one of our comfortable offices.</p>
                    <address class="contact-info offset-top-50">
                        <p class="h6 text-uppercase font-weight-bold text-picton-blue letter-space-none offset-top-none">Intense Office 1</p>
                        <p>9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.</p>
                        <dl class="offset-top-0">
                            <dt>Telephone</dt>
                            <dd><a href="tel:#">+1 800 603 6035</a></dd>
                        </dl>
                        <dl>
                            <dt>E-mail:</dt>
                            <dd><a href="mailto:#">mail@demolink.org</a></dd>
                        </dl>
                    </address>
                    <address class="contact-info offset-top-50">
                        <p class="h6 text-uppercase font-weight-bold text-picton-blue letter-space-none">Intense Office 2</p>
                        <p>9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45.</p>
                        <dl class="offset-top-0">
                            <dt>Telephone</dt>
                            <dd><a href="tel:#">+1 800 559 6580</a></dd>
                        </dl>
                        <dl>
                            <dt>E-mail:</dt>
                            <dd><a href="mailto:#">mail@demolink.org</a></dd>
                        </dl>
                    </address>
                </div>
                <div class="col-md-8 offset-top-66 offset-xl-top-0">
                    <h3 class="text-uppercase">Заполните поля</h3>
                    <hr class="divider hr-xl-left-0 bg-mantis">
                    <!-- RD Mailform-->
                    {{ include('news_admin/_form.html.twig', {
                        button_text: 'Подтвердить'
                    }) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}