{% extends 'base.html.twig' %}

{% block title %}
 Список новостей
{% endblock %}

{% block body %}
    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'fa fa-table',
        title: 'Список всех новостей'
    }) }}

    <!-- Classic Responsive Table-->
    <section class="section novi-background section-66 section-sm-top-20">
        <div class="container">
            <div class="row offset-md-top-66">
                <div class=" col-xl">
                    <!-- Classic Responsive Table-->
                    <table class="table table-custom table-bordered" data-responsive="true">
                        <tr>
                            <th>Название</th>
                            <th>Автор</th>
                            <th>Email</th>
                            <th>Опубликована?</th>
                            <th class="text-center">Edit</th>
                        </tr>
                        {% for news in news_list %}
                            <tr>
                                <td><a class="text-primary" href="{{ path('news_show', {slug: news.slug}) }}">{{ news.title }}</a></td>
                                <td>{{ news.author.firstName }}</td>
                                <td>{{ news.author.email }}</td>
                                <td class="text-center"><i class="novi-icon icon-xs fa fa-{{ news.published ? 'check text-success' : 'close' }}"></i></td>
                                <td class="text-xs-center">
                                    <a href="{{ path('author_news_edit', {
                                        id: news.id
                                    }) }}"><i class="btn btn-info fa fa-pencil"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

