{% extends 'base.html.twig' %}

{% block title %}Все новости{% endblock title %}

{% block body %}
    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'mdi mdi-newspaper',
        title: 'Все Новости'
    }) }}

<section class="section novi-background section-bottom-66 section-sm-bottom-110 section-top-34 section-md-top-66" style="background-color: rgb(255, 255, 255);">
        <div class="container">
            <div class="row">

                {% for news in pagination %}
                <div class="col-md-6 col-lg-4"><img class="img-fluid d-inline-block" src="{{ asset(news.imagePath) }}" width="370" height="230" alt="">
                    <div class="text-md-left offset-top-24">
                        <div>
                            <h5 class="font-weight-bold text-primary"><a href="{{ path('news_show', { slug: news.slug}) }}">{{ news.title }}</a></h5></div>
                        <h6 class="offset-top-10">{{ news.publishedAt ? news.publishedAt|date('Y-m-d') }}</h6>
                        <ul class="list-inline list-inline-dashed text-dark">
                          {% for tag in news.tags %}
                             <li class="list-inline-item">{{ tag.name }}</li>
                          {% endfor %}
                        </ul>
                        <div>
                            <p>{{ news.content|truncate(200)|markdown }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="offset-top-20 offset-md-top-34 pagination justify-content-center">
            <!— Bootstrap Pagination-->
                 {{ knp_pagination_render(pagination) }}
             </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/news_show.js') }}"></script>
{% endblock javascripts %}