{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock title %}

{% block body %}
    {{ include('layouts/breadcrumbs.html.twig', {
        icon: 'fa fa-file-text-o',
        title: 'Новость'
    }) }}

        <section class="section novi-background section-98 section-sm-110">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-10 col-xl-6 text-lg-left inset-lg-right-80">
                        <h2>{{ news.title }}</h2>
                        <hr class="text-subline offset-top-10 offset-md-top-10">
                        <ul class="list-inline list-inline-dashed text-dark">
                            {% for tag in news.tags %}
                                <li class="list-inline-item">{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                        {#  todo                  <span class="small js-like-news-count">{{ news.heartCount }}</span>#}
                        {#                    <a href="{{ path('news_toggle_heart', {slug: news.slug}) }}" class="far fa-heart-o js-like-news" style="color:red;"></a>#}
                        {#                    <span class="small">Views:{{ news.viewsCount }}</span>#}

                        <div class="offset-top-10 offset-lg-top-10">
                            {{ news.Content|cached_markdown }}
                        </div>
                    </div>
                    <div class="col-sm-10 col-xl-6 offset-top-10 offset-xl-top-0">
                        <img class="img-fluid d-inline-block offset-top-10" src="{{ asset(news.imagePath) }}" width="960" height="540" alt="">


                        <div class="text-left text-dark offset-top-10 ml-1">
                            <div>
                                <ul class="post-controls list-inline list-inline-sm p text-dark">
                                    <li class=""><span class="text-middle icon-xxs novi-icon text-picton-blue mdi mdi-account-outline">&nbsp;</span><a class="text-middle small" href="{{ path('app_member_show', {email: news.author.email}) }}">{{ news.author }}</a></li>
                                    {% if is_granted('MANAGE', news) %}
                                        <li class=""><span class="text-middle icon-xxs novi-icon text-picton-blue mdi fa fa-pencil">&nbsp;</span><a class="text-middle small" href="{{ path('author_news_edit', {id: news.id}) }}">Редактировать</a></li>
                                        <li class=""><span class="text-middle icon-xxs novi-icon text-picton-blue mdi mdi-delete">&nbsp;</span><a class="text-middle small" href="{{ path('author_news_delete', {id: news.id}) }}">Удалить</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div><span class="text-middle icon-xxs novi-icon text-picton-blue mdi mdi-clock"></span>
                                <time class="text-middle small">{{ news.publishedAt ? news.publishedAt|ago : 'unpublished' }}</time>
                            </div>
                            <div><span class="text-middle icon-xxs novi-icon text-picton-blue mdi mdi-eye"></span>
                                <span class="text-middle small">{{ news.viewsCount }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/news_show.js') }}"></script>
{% endblock javascripts %}