<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="en">
<head>
    <title>{% block title %}НТТС{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template html">
    <meta name="date" content="Dec 26">
    {% block stylesheet %}
    <link rel="icon" href="{{ asset('images/logos/mainlogo.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/novi.css') }}">
    <!--[if lt IE 10]><div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div><script src="js/html5shiv.min.js"></script><![endif]-->
    {% endblock %}
</head>

<body>

    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-warning">Вы переключились на пользователя.
            <a  class="alert alert-dark" href="{{ path('app_home', {
                '_switch_user':'_exit'
            }) }}">Переключиться на админа <i class="fa-link"></i></a>
        </div>
    {% endif %}

    <div class="page-loader page-loader-variant-1 bg-white">
        <div><img class="img-fluid" style="margin-top: -20px;margin-left: 0;" width="80" height="67" src="{{ asset('images/logos/mainlogo.png') }}" alt="">
            <div class="offset-top-41 text-center">
                <div class="spinner"></div>
            </div>
        </div>
    </div>

    <div class="page text-center">
        {% block content_body %}

        <!-- Page Header-->
        <header class="page-head">
            <!-- RD Navbar Transparent-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-default rd-navbar-light" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
                    <div class="rd-navbar-inner">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                            <!--Navbar Brand-->
                            <div class="rd-navbar-brand"><a href="{{ path('app_home') }}"><img class="rounded" style='margin-top: -4px;margin-left: 10px;' width='138' height='auto' src='{{ asset('images/logos/secondarylogo.jpg') }}' alt=''/></a></div>
                        </div>
                        <div class="rd-navbar-menu-wrap">
                            <div class="rd-navbar-nav-wrap">
                                <div class="rd-navbar-mobile-scroll">
                                    <!--Navbar Brand Mobile-->
                                    <div class="rd-navbar-mobile-brand"><a href="{{ path('app_home') }}"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='{{ asset('images/logos/secondarylogo.jpg') }}' alt=''/></a></div>
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">
                                        <li class="{%  if app.request.getPathInfo() == path('app_home') %} active {% endif %}"><a href="{{ path('app_home') }}"><span>Главная</span></a></li>
                                        <li class="{% if app.request.getPathInfo() == path('app_about') %} active {% endif %}"><a href="{{ path('app_about') }}"><span>О кафедре</span></a></li>
                                        <li class="{% if app.request.getPathInfo() == path('app_history-ct') or app.request.getPathInfo() == path('app_history-ae') %} active {% endif %} rd-navbar--has-dropdown rd-navbar-submenu"><a href="#"><span>История</span></a>
                                            <ul class="rd-navbar-dropdown" style="border-top: #42b574 solid 1px;">
                                                <li><a href="{{ path('app_history-ct') }}"><span class="text-middle">Автомобили и тракторы</span></a></li>
                                                <li><a href="{{ path('app_history-ae') }}"><span class="text-middle">Сельскохозяйственное машиностроение</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="{% if app.request.getPathInfo() == path('app_partners') or app.request.getPathInfo() == path('app_staff_list') or app.request.getPathInfo() == path('app_curators') %} active {% endif %} rd-navbar--has-megamunu rd-navbar-submenu"><a href="#"><span>Общие сведения</span></a>
                                            <div class="rd-navbar-megamenu rd-navbar-open-right">
                                                <div class="row">
                                                    <ul class="col-xl-3">
                                                        <li><a href="{{ path('app_staff_list') }}"><span class="novi-icon rd-navbar-icon mdi mdi-account-box-outline"></span><span class="text-middle">Сотрудники</span></a></li>
                                                    </ul>
                                                    <ul class="col-xl-3">
                                                        <li><a href="{{ path('app_curators') }}"><span class="novi-icon rd-navbar-icon mdi mdi-account-multiple-outline"></span><span class="text-middle">Кураторы</span></a></li>
                                                    </ul>
                                                    <ul class="col-xl-3">
                                                        <li><a href="{{ path('app_partners') }}"><span class="novi-icon rd-navbar-icon mdi mdi-worker"></span><span class="text-middle">Парнтеры</span></a></li>
                                                    </ul>
                                                    <ul class="col-xl-3">
                                                        <li><button style="width: 100%;" class="text-center  btn-polat-effect-up btn-primary btn btn-sm btn-polat-effect" type="button"><a href="{{ asset('images/pdf/NTTS.pdf') }}"><span class="text-white icon novi-icon icon-xs fa fa-file-pdf-o"></span></a><span class="btn-text">О специальности</span></button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="{%  if app.request.getPathInfo() == path('app_niokr') %} active {% endif %}"><a href="{{ path('app_niokr') }}"><span>Ниокр</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--RD Navbar user-->

                            <div class="rd-navbar-cart-wrap"><a class="rd-navbar-cart mdi" href="#" data-rd-navbar-toggle=".rd-navbar-cart-dropdown"><span></span></a>
                                <div class="rd-navbar-cart-dropdown">
                                    <ul class="rd-navbar-list-products mb-2">
                                        <li class="pb-0">
                                            {% if is_granted('ROLE_USER') %}
                                                <div class="rd-navbar-product-image">{% if app.user.getPhotoPath %}<img width="60px" src="{{ asset(app.user.getPhotoPath) }}" alt=""/>{% else %}<span class="novi-icon icon-lg icon-rounded mdi mdi-account-box-outline"></span>{% endif %}</div>
                                                <div class="rd-navbar-product-caption">
                                                    <h6 class="rd-navbar-product-title"><a href="{{ path('app_account') }}">{{ app.user.firstName }}</a></h6>
                                                    <p class="rd-navbar-product-price">{{ app.user.academicDegree }}</p>
                                                </div>
                                            {% else %}
                                                <div class="rd-navbar-product-image"><span class="novi-icon icon-lg icon-rounded mdi mdi-account-box-outline"></span></div>
                                                <div class="rd-navbar-product-caption">
                                                    <h6 class="rd-navbar-product-title"><a href="{{ path('app_account') }}">сотрудник</a></h6>
                                                    <p class="rd-navbar-product-price">неизвестно</p>
                                                </div>
                                            {% endif %}
                                        </li>
                                    </ul>

                                    {% if is_granted('ROLE_USER') %}
                                        <div class="group text-center">
                                            <a href="{{ path('app_logout')}}"><button class="text-white btn btn-sm btn-primary btn-icon btn-icon-right"><span class="icon novi-icon mdi mdi-logout"></span>Выйти</button></a>
                                            <a href="{{ path('app_account')}}"><button class="text-white btn btn-sm btn-primary btn-icon btn-icon-right"><span class="icon novi-icon mdi mdi-account-outline"></span>Личный кабинет</button></a>
                                        </div>
                                    {% else %}
                                        <div class="group text-center">
                                            <a href="{{ path('app_login')}}"><button class="text-white btn btn-sm btn-primary btn-icon btn-icon-right"><span class="icon novi-icon mdi mdi-login"></span>Войти</button></a>
                                            <a href="{{ path('app_register')}}"><button class="text-white btn btn-sm btn-primary btn-icon btn-icon-right"><span class="icon novi-icon mdi mdi-account-plus"></span>Регистрация</button></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>
        </header>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center">{{ message }}</div>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <div class="alert alert-dark text-center">
                <a href="{{ path('admin_panel') }}"><button type="button" class="btn btn-warning">Админ-панель</button></a>
            </div>
        {% endif %}

        {% block body %}{% endblock body %}
        <footer class="section novi-background section-relative section-top-66 section-bottom-34 page-footer bg-black context-dark">
            <div class="container">
                <div class="row justify-content-center justify-content-xl-between text-xl-left grid-group-md">
                    <div class="col-sm-12 col-xl-3">
                        <!-- Footer brand-->
                        <p class="text-darker offset-top-4">Контакты</p> <address class="contact-info offset-top-30 p"><div><dl><dt class="text-white">Адресс:</dt><dd class="text-dark d-xl-block">28 Jackson Blvd Ste <span class="d-xl-block">1020 Chicago</span> <span class="d-xl-block">IL 60604-2340.</span></dd>                   </dl>                 </div>                 <div>                   <dl class="offset-top-0">                     <dt class="text-white">Телефон:</dt><dd class="text-dark"><a href="#">+1 800 559 6580</a></dd>                   </dl>                 </div>                 <div>                   <dl class="offset-top-0">                     <dt class="text-white">E-mail:</dt>                     <dd class="text-dark"><a href="mailto:mail@demolink.org">mail@demolink.org</a></dd>                   </dl>                 </div>               </address>
                        <div class="offset-top-34 text-sm-center text-xl-left">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="icon novi-icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled" href="#"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon novi-icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled" href="#"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon novi-icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled" href="#"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="icon novi-icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-6 col-xl-4 text-sm-left">
                        <h6 class="text-uppercase text-spacing-60 text-center text-lg-left">Отзывы студентов</h6>
                        <!-- Simple quote Slider-->
                        <div class="owl-carousel owl-carousel-classic owl-carousel-class-light owl-carousel-simple-quote" data-items="1" data-nav="false" data-dots="true">
                            <div>
                                <blockquote class="quote quote-simple-2 text-left">
                                    <p class="quote-body offset-bottom-0"> <q>I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!</q> </p>
                                    <h6 class="quote-author text-uppercase text-white">                             <cite class="text-normal">- Alex Merphy</cite>                           </h6> </blockquote>
                            </div>
                            <div>
                                <blockquote class="quote quote-simple-2 text-left">
                                    <p class="quote-body offset-bottom-0"> <q>I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!</q> </p>
                                    <h6 class="quote-author text-uppercase text-white">                             <cite class="text-normal">- July Mao</cite>                           </h6> </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-6 col-lg-6 col-xl-4 text-sm-left">
                        <h6 class="text-uppercase text-spacing-60 text-center text-lg-left">Свяжитесь с нами</h6>
                        <!-- RD Mailform-->

                        {{ include('layouts/_form_contact_us.html.twig') }}

                    </div>
                </div>
            </div>
            <div class="container offset-top-50">
                <p class="small text-darker"> © <span class="copyright-year"></span> НТТС</p>
            </div>
        </footer>
        {% endblock content_body %}
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <a href="#" id="ui-to-top" class="ui-to-top icon icon-xs icon-circle icon-darker-filled mdi mdi-chevron-up active"></a>

    {% block javascripts %}
        <script src="{{ asset('js/core.min.js')}}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('js/revolution.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
