{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block content_body %}
    <section class="section novi-background one-page" style="background: #191919">
        <div class="one-page-header">
            <!--Navbar Brand-->
            <div class="rd-navbar-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/{{ asset('images/logos/mainlogo.png') }}' alt=''/></a></div>
        </div>
        <!-- 404-->
        <section class="context-dark">
            <div class="container">
                <div class="section-110 section-cover row justify-content-sm-center align-items-sm-center">
                    <div class="col-xl-6">
                        <h3>Доступ запрещен!</h3>
                        <hr class="divider bg-mantis">
                        <div class="text-extra-big text-light">403</div>
                        <p class="offset-top-50">Попробуйте войти в систему.</p>
                        <div class="group offset-top-30"><a class="btn btn-icon btn-icon-left btn-primary" href="{{ path('app_home') }}"><span class="icon novi-icon mdi mdi-arrow-left"></span>НА ГЛАВНУЮ</a></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="one-page-footer">
            <p class="small text-white"> © <span class="copyright-year"></span> НТТС</p>
        </div>
    </section>


{% endblock %}