{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block content_body %}
    <section class="section novi-background one-page" style="background: #191919 url({{ asset('images/backgrounds/background-31-1920x1280.jpg') }}) 0/cover no-repeat">
        <!-- 404-->
        <section class="context-dark">
            <div class="container">
                <div class="section-110 section-cover row justify-content-sm-center align-items-sm-center">
                    <div class="col-xl-6">
                        <h3>Доступ запрещен!</h3>
                        <hr class="divider bg-mantis">
                        <div class="text-extra-big text-light">403</div>
                        <p class="offset-top-50">Попробуйте войти в систему.</p>
                        <div class="group offset-top-30"><a class="btn btn-icon btn-icon-left btn-primary" href="{{ path('app_home') }}"><span class="icon novi-icon mdi mdi-arrow-left"></span>НА ГЛАВНУЮ</a></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="one-page-footer">
            <p class="small text-darker"> © <span class="copyright-year"></span> НТТС</p>
        </div>
    </section>


{% endblock %}